@font-face {
  font-family: 'LeagueSpartan';
  src: local('LeagueSpartan-Bold'), url(../fonts/LeagueSpartan-Bold.woff) format('woff');
}

:root {
  --startColor: hsl(180, 100%, 75%);
  --stopColor: hsl(240, 100%, 75%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.svgBlob {
  width: 90vmin;
  height: 90vmin;
  position:fixed;
  z-index:0; 
  top:0; 
  left:0; 
  height:100%; 
  width:100% ;
}

.blobContainer {
  z-index: 0;
}

p {
  font-size: 1.125rem;
  font-weight: 500;

  color: #fff;
  font-family: "LeagueSpartan";
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  z-index: 2;
}



